.toast-notificacion {
  position: fixed;
  top: 20px;
  right: 20px;

  background: rgba(34, 197, 94, 0.9);
  color: white;

  padding: 15px 25px;

  border-radius: 12px;

  font-size: 1rem;
  font-weight: 600;

  box-shadow: 0 8px 20px rgba(0,0,0,0.15);

  z-index: 9999;

  animation: aparecerToast 0.3s ease;
}


/* Animación de entrada */
@keyframes aparecerToast {

  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}